LLM_PROVIDER=google
GOOGLE_API_KEY=

IMAGE_PROVIDER=cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_IMAGE_MODEL=@cf/black-forest-labs/flux-1-schnell

TTS_PROVIDER=manual
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
PROJECTS_DIR=./projects
CHECKPOINT_DB=./data/checkpoints.sqlite
